<div class="container">
<h1>My Goals</h1>
<hr>
<div class="row">
  <div class="col-md-6">
  <div *ngFor='let goal of goals;let i = index'>
                <li appStrikethrough>{{goal.name}} due on {{goal.completeDate|date}}</li> 
    <button (click)='toggleDetails(i)' class="btn btn-success">Toggle Details</button>
    <app-goal-detail *ngIf='goal.showDescription' [goal]='goal' (isComplete) = 'completeGoal($event,i)'></app-goal-detail>
  </div>
  </div>
  <div class="col-md-6">
      <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
  </div>
</div>